* {
	margin: 0;
	padding: 0;
}
body {
	font:14px arial,"microsoft yahei";
	color: #000000;
	background-color: #f3f5f7;
}
li {
	list-style: none;
}
h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
	font-weight: 400;
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	color: #aad8ff;
}
input {
	outline: 0;
	border: 0;
}
.w {
	width: 1200px;
	margin: 0 auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.header {
	height: 42px;
	padding: 30px 360px;
	background: #f3f5f7;
}
.logo {
	width: 196px;
	height: 42px;
	background: url(../images/logo.png) no-repeat;
}
.nav li {
	float: left;
}
.nav li a{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	padding: 10px;
	margin-left: 28px;
	border-bottom: 2px solid transparent;
}
.nav li a:hover {
	border-bottom: 2px solid #00a4ff;
}
.search {
	margin-left: 37px;
}
.search input {
	height: 42px;
	float: left;
}
.search .si {
	height: 16px;
	width: 340px;
	padding: 13px 0 13px 20px;
	color: #bfbfbf;
}
.banner {
	background-color: #1c036c;
}
.banner .w {
	height: 420px;
	background: url(../images/banner2.jpg) no-repeat;
}
.banner .fl {
	height: 393px;
	padding: 27px 20px 0;
	background-color: rgba(0,0,0,.3);
	/*overflow: hidden;*/
}
.banner .fl li {
	width: 150px;
	height: 45px;
	/*line-height: 45px;*/
}
.banner .fl a {
	display: block;
	color: #fff;
}
.banner .fl a:hover {
	color: #00b4ff;
}
.banner .fl span {
	float: right;
}
.banner .fr {
	width: 228px;
	height: 300px;
	background-color: #fff;
	margin-top: 50px;
	margin-bottom: 70px;
}
.banner .fr h3 {
	padding: 15px 65px;
	background-color: #9bceea;
	color: #fff;
	font-size: 18px;
}
.banner .fr .fr-class {
	padding: 19px 15px 12px;
}
.banner .fr li {
	height: 45px;
	margin-bottom: 12px;
	border-bottom: 1px solid #808088;
}
.banner .fr h4 {
	font: 16px arial, 'simsun';
}
.banner .fr p {
	font: 12px arial, 'simsun';
	color: #a5a5a5;
}
.banner ul > a {
	display: block;
	width: 198px;
	height: 37px;
	text-align: center;
	line-height: 37px;
	border: 1px solid #22b0ff;
	color: #22b0ff;
}
.recommend {
	margin-top: 8px;
	padding-left: 34px;
	padding-right: 26px;
	height: 60px;
	line-height: 60px;
	background-color: #fff;
	box-shadow: 2px 2px 2px 0 #ccc;
}
.recommend .fl li{
	float: left;
	font-size: 16px;
}
.recommend .fl .line {
	width: 1px;
	height: 18px;
	background-color: #bfbfbf;
	margin: 22px 35px 0;
}
.recommend .fl ul>li {
	color: #00a4ff;
}
.recommend .fr a {
	color: #00a4ff;
	font-size: 14px;
}
.recommend-pic-hd {
	height: 41px;
	padding-top: 34px;
}
.recommend-pic-hd .fl {
	font-size: 20px;
	color: #494949;
}
.recommend-pic-hd .fr {
	font-size: 12px;
	color: #a5a5a5;
}
.recommend-pic-bd li {
	width: 228px;
	margin-right: 15px;
	margin-bottom: 15px;
	background-color: #fff;
}
.recommend-pic-bd img {
	width: 228px;
	/*margin-bottom: 26px;*/
}
.recommend-pic-bd .pic-title {
	padding: 26px 20px 27px 24px;
}
.recommend-pic-bd h5 {
	height: 53px;
	font-size: 14px;
	color: #050505;
}
.recommend-pic-bd p {
	font-size: 12px;
	color: #999999;
}
.recommend-pic-bd span {
	color: #ff7c2d;
}
.recommend-pic-bd .mr0 {
	margin-right: 0;
}
.clearfix:before ,.clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.footer {
	height: 240px;
	padding-top: 37px;
	background-color: #fff;
}
.footer .fl > div {
	height: 67px;
	width: 196px;
}
.footer .fl p {
	width: 440px;
	height:46px;
	font: 12px/21px arial,'simsun';
	color: #666;
}
.footer .fl > a {
	display: block;
	width: 118px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	border: 1px solid #00a4ff;
	font-size: 12px;
	color: #00a4ff;
}
.footer .w {
	padding-right: 31px;
}
.footer .fr dl{
	float: left;
	margin-left: 122px;
}
.footer .fr dt {
	font-size: 16px;
	color: #333;
	height: 32px;
}
.footer .fr dd {
	font: 12px arial,'simsun';
	color: #333;
	height: 21px;
}