/** {
    margin: 0;
    padding: 0;
}*/
.body {
    width: 1903px;
    margin: 0 auto;
}
.top {
    width: 1903px;
    height: 45px;
    background-color: #055C92;
    color: #E3F4FB;
}
.top-left {
    float: left;
    height: 45px;
    line-height: 45px;
    padding-left: 200px;
}
.top-right {
    height: 45px;
    float: right;
    line-height: 45px;
    padding-right: 200px;
}
.div-logo {
    width: 1500px;
    height: 80px;
    /*border: 1px solid red;*/
    margin: 20px auto;
}
.div-logo img {
    height: 80px;
    float: left;
}
.div-span {
    line-height: 80px;
    float: right;
    position: relative;
    right: 800px;
}
.div-span span {
    margin-left: 10px;
}
/*.span-1 {
    position: absolute;
    left: 650px;
}
.span-2 {
    position: absolute;
    left: 760px;
}
.span-3 {
    position: absolute;
    left: 840px;
}
.span-4 {
    position: absolute;
    left: 920px;
}
.span-5 {
    position: absolute;
    left: 1010px;
}*/
.div-lunbo {
    width: 1500px;
    height: 400px;
    margin: 0 auto;
}
.div-banner {
    float: left;
}
.div-ul {
    height: 400px;
    width: 300px;
    float: left;
    position: relative;
    left: 20px;
    background-color: #F9F9F9;
}
.ul-title {
    background-color: #055C92;
    color: #FFFFFF;
    height: 70px;
    line-height: 70px;
}
.div-ul-li ul li{
    list-style-type: square;
    color: blue;
    text-align: left;
}
.div-ul-li ul li div {
    color: black;
    height: 36px;
}
.div-main {
    margin: 30px auto;
    width: 1903px;
    height: 450px;
    background-color: #F3F3F3;
}
.main-box {
    margin: 0 auto;
    padding-top: 50px;
    height: 350px;
    width: 1500px;
}
.mian-box-img {
    height: 350px;
    float: left;
}
.main-list {
    margin: 0 auto;
    width: 1268px;
    height: 350px;
    float: right;
}
.list-row1 {
    width: 1040px;
    height: 170px;
    margin-bottom: 10px;
    float: left;
}
.list-row2 {
    width: 1040px;
    height: 170px;
    float: left;
}
.list-row1 div {
    float: left;
    width: 250px;
    height: 170px;
    margin: 0 5px;
    /*line-height: 170px;*/
    /*position: relative;*/
    background-color: #ffffff;
}
.list-row2 div {
    float: left;
    width: 250px;
    height: 170px;
    margin: 0 5px;
/*    position: relative;
    bottom: 0px;*/
    /*line-height: 170px;*/
    /*position: relative;*/
    background-color: #ffffff;
}
.list-row1 div img,
.list-row2 div img {
    height: 66px;
    padding-top: 20px;
}
.list-row1 div div,
.list-row2 div div {
    position: relative;
    bottom: -30px;
    /*padding-top: 10px;*/
    height: 30px;
    width: 230px;
    text-align: center;
}
.div-tro {
    margin: 0 auto;
    width: 1500px;
    height: 150px;
    
}
.div-tro div {
    float: left;
    width: 150px;
    height: 150px;
    text-align: left;
}
.div-tro div dl dt  {
    font-weight: 700;
}
.div-tro div dl dd {
    font-weight: 200;
/*    text-align: left;*/
    padding-top: 7px;
    /*padding-left: 0px;*/
    position: relative;
    left: -38px;
}
.div-a {
    margin: 0 auto;
    width: 1300px;
    position: relative;
    left: -100px;
}
.div-a h5 {
    text-align: left;
}
.div-bottom {
    width: 1300px;
    height: 80px;
    margin: 20px auto;
    position: relative;
    left: -100px;
}
.div-bottom img{
    float: left;
}
.div-bottom div {
    text-align: left;
    position: relative;
    left: 30px;
}